/* CSS Document */

:root {
  --main-accent: rgba(111,59,180,1);
  --main-accent-low_sat: rgb(154, 131, 185);
  --sub-accent-dark: rgba(40,19,68,1);
  --sub-accent-light: rgba(158,116,212,1);
  --main-bg: rgba(25,25,37,1);
  --font-colour: #ffffff;
  --font-colour-dark: #464646;
  --ff-body: 'Open Sans';
  --ff-heading: 'Merriweather';
}

*{
  margin: 0;
  padding: 0;
  color: var(--font-colour);
}

.picture_frame{
  overflow:hidden; 
  width: 500px; 
  height: 600px; 
  position: relative;
  display: block;
  padding: 20px;
}

.img_test{
  display: block;
  position: absolute;
  width: 400px;
  max-height: 350px;
  object-fit: cover;
  box-shadow: 0px 0px 30px rgba(126, 95, 175, 0.1);
  border: 10px solid var(--main-accent);
  border-radius: 20px;
  &.current{
    box-shadow: 0px 0px 30px rgba(126, 95, 175, 0.3);
  }

  &.left{
    transform: translateX(-300px) translateY(-50px) rotateY(-80deg) rotateZ(10deg);
    transition: all 1s ease;
    &.current{
      transform: translateX(50px) translateY(0px) rotateY(0deg) rotateZ(0deg);
    }
  }

  &.right{
    transform: translateX(400px) translateY(-50px) rotateY(80deg) rotateZ(-10deg);
    transition: all 1s ease;
    &.current{
      transform: translateX(50px) translateY(0px) rotateY(0deg) rotateZ(0deg);
    }
  }
  &:hover{
    box-shadow: 0px 0px 30px rgba(70, 39, 121, 0.6);
  }
}

.img_toggle_wrapper{
  position: absolute;
  display: block;
  transform: translateX(200px) translateY(-20px);
}

.img_toggle{
  display: inline;
  font-size: 48px;
  color: var(--font-colour-dark);
  transition: all 1s ease;
  &.current{
    color: var(--font-colour);
  }
}

.img_text{
  display: block;
  position: absolute;
  width: 400px;
  font-size: 32px;

  &.left{
    transform: translateY(250px) translateX(-450px) rotateY(-80deg) rotateZ(10deg);
    transition: all 1s ease;
    &.current{
      transform: translateY(360px) translateX(50px);
    }
  }
  &.right{
    transform: translateY(250px) translateX(550px) rotateY(80deg) rotateZ(-10deg);
    transition: all 1s ease;
    &.current{
      transform: translateY(360px) translateX(50px);
    }
  }
}


html {
  scroll-snap-type: y mandatory;
}

body {
  text-align: center;
  min-height: 100vh;
  background-color: var(--main-bg);
  font-family: var(--ff-body), times, serif, verdana, sans-serif;
}

img {
  border: none;
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

nav {
  background-color: var(--main-accent);
  font-family: var(--ff-heading), 'Tahoma', sans-serif;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
  z-index: 9989;
  position: fixed;
  width: 18vw;
  height: 100vh;
  margin-top: 0;
}

nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

nav li {
  height: 80px;
}

nav li:first-child{
  margin-right: auto;
}

nav a {
  height: 100%;
  font-size: 150%;
  text-decoration: none;
  color: #000000;
  padding: 0 30px;
  display: flex;
  align-items: center;
  transition: all 600ms ease;
}

nav a.menu:hover {
  background-color: var(--sub-accent-dark);
}

nav a.current {
  background-color: var(--sub-accent-light);
}

nav a.sub{
  margin-left: 20px;
  font-size: 130%;
  border-left: solid 3px #000000;
}

nav h2{
  margin-top: 5px;
  font-size: 2pc;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li{
  width: 100%;
}

.sidebar a{
  width: 100%;
}

.menu-button{
  display: none;
}

section{
  height: 100vh;
  scroll-snap-align: center;
}

div#picture{
  height: 50vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  
  animation: fadeInAnimation linear 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

div#picture img::before{
  content: '';
  position: absolute;
  width: 110%;
  height: 110%;
  border-radius: 1000px;
  z-index: 3;
  background-image: linear-gradient(270deg, var(--sub-accent-light) 0%, var(--sub-accent-dark) 100%);
}

#picture img{
  position: relative;
  border: 25px solid transparent;
  border-radius: 350px;
  background: radial-gradient(circle, transparent 0%, rgba(55,55,80,1) 100%) padding-box, 
              linear-gradient(0deg, var(--sub-accent-dark) 0%, var(--main-accent) 100%) border-box;
  padding: 15px;
  background-color: #373750;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}

@keyframes fadeInAnimation {
  0% {
    top: 0px;
    right:  -20vw;
    opacity: 0;
  }
  70% {
    top: 0vh;
    right: -10vw;
    opacity: 0.5;
  }
  100% {
    top: 0vh;
    right: -10vw;
    opacity: 1;
  }
}

h1{
  margin: 20px;
}

nav h1{
  margin-left: 0px;
}

#text_left{
  display: block;
  left: 33vw;
  width: 35vw;
  height: 50vh;
}

#picture_right{
  display: block;
  width: 40vw;
  height: 80vh;
}

#text_right{
  display: block;
  width: 35vw;
  height: 50vh;
}

#picture_left{
  display: block;
  left: 28vw;
  width: 40vw;
  height: 80vh;
}

#picture_left img{
  border: 10px solid transparent;
  border-radius: 20px;
  background: linear-gradient(45deg, var(--sub-accent-dark) 0%, var(--main-accent) 100%) padding-box, 
              linear-gradient(0deg, var(--sub-accent-dark) 0%, var(--main-accent) 100%) border-box;

}
#picture_right img{
  border: 10px solid transparent;
  border-radius: 20px;
  background: linear-gradient(45deg, var(--sub-accent-dark) 0%, var(--main-accent) 100%) padding-box, 
              linear-gradient(0deg, var(--sub-accent-dark) 0%, var(--main-accent) 100%) border-box;
}

#introductiondiv{
  position: absolute;
  top: 20vh;
  left: 25vw;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  align-content: center;
}

#project1div{
  position: absolute;
  top: 120vh;
  left: 25vw;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  align-content: center;
}

#project2div{
  position: absolute;
  top: 220vh;
  left: 25vw;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  align-content: center;
}

#project3div{
  position: absolute;
  top: 320vh;
  left: 25vw;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  align-content: center;
}

#project4div{
  position: absolute;
  top: 420vh;
  left: 25vw;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  align-content: center;
}

#project5div{
  position: absolute;
  top: 520vh;
  left: 25vw;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  align-content: center;
}

p{
  margin-top: 15px;
}

div a {
  color: var(--main-accent);
}

div#contact{
  position: relative;
  left: 50vw;
  top: 40vh;
  width: 25vw;
  padding: 25px;
  border-radius: 10px;
  background-image: linear-gradient(310deg, var(--main-accent), var(--main-accent-low_sat));
}
#contact a{
  color: var(--font-colour);
}